/* Christmas Lights */
  
  .lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 10px;
    z-index: 1;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
}
.lightrope li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 36px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
    animation-name: flash-1;
    animation-duration: 2s;
}
.lightrope li:nth-child(2n+1) {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
    animation-name: flash-2;
    animation-duration: 0.4s;
}
.lightrope li:nth-child(4n+2) {
    background: rgba(247, 0, 148, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
    animation-name: flash-3;
    animation-duration: 1.1s;
}
.lightrope li:nth-child(odd) {
    animation-duration: 1.8s;
}
.lightrope li:nth-child(3n+1) {
    animation-duration: 1.4s;
}
.lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9.3333333333px;
    border-radius: 3px;
    top: -4.6666666667px;
    left: 1px;
}
.lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.6666666667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
}
.lightrope li:last-child:after {
    content: none;
}
.lightrope li:first-child {
    margin-left: -40px;
}
@keyframes flash-1 {
    0%, 100% {
        background: rgb(29, 247, 0);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
   }
    50% {
        background: rgba(0, 247, 41, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
   }
}
@keyframes flash-2 {
    0%, 100% {
        background: rgba(0, 255, 255, 1);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 1);
   }
    50% {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
   }
}
@keyframes flash-3 {
    0%, 100% {
        background: rgba(247, 0, 148, 1);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
   }
    50% {
        background: rgba(247, 0, 148, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
   }
}

/* Christmas Lights */

/* Balloons */

.balloon {
    position: absolute;
    width: 100px;
    height: 110px;
    border-radius: 50%;
    background-color: rgba(128, 0, 128, 0.5);
    animation: move-up 5s;
    top: -30%;
}

.balloon::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 150px;
    background-color: white;
    top: 110px;
    left: 50px;
}

.balloon::after {
    position: absolute;
    content: '';
    border-bottom: 12px solid rgba(128, 0, 128, 0.5);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 109px;
    left: 41px;
}

.balloon:nth-child(2) {
    left: 10%;
    background-color: rgba(255, 255, 0, 0.5); /* Yellow */
    animation-duration: 3s;
}
.balloon:nth-child(2)::after {
    border-bottom: 12px solid rgba(255, 255, 0, 0.5);
}

.balloon:nth-child(3) {
    left: 20%;
    background-color: rgba(0, 128, 0, 0.5); /* Green */
    animation-duration: 4s;
}
.balloon:nth-child(3)::after {
    border-bottom: 12px solid rgba(0, 128, 0, 0.5);
}

.balloon:nth-child(4) {
    left: 30%;
    background-color: rgba(255, 165, 0, 0.5); /* Orange */
    animation-duration: 2s;
}
.balloon:nth-child(4)::after {
    border-bottom: 12px solid rgba(255, 165, 0, 0.5);
}

.balloon:nth-child(5) {
    left: 40%;
    background-color: rgba(128, 0, 128, 0.5); /* Purple */
    animation-duration: 5s;
}
.balloon:nth-child(5)::after {
    border-bottom: 12px solid rgba(128, 0, 128, 0.5);
}

.balloon:nth-child(6) {
    left: 50%;
    background-color: rgba(255, 255, 0, 0.5); /* Yellow */
    animation-duration: 3s;
}
.balloon:nth-child(6)::after {
    border-bottom: 12px solid rgba(255, 255, 0, 0.5);
}

.balloon:nth-child(7) {
    left: 60%;
    background-color: rgba(0, 128, 0, 0.5); /* Green */
    animation-duration: 4s;
}
.balloon:nth-child(7)::after {
    border-bottom: 12px solid rgba(0, 128, 0, 0.5);
}

.balloon:nth-child(8) {
    left: 70%;
    background-color: rgba(255, 165, 0, 0.5); /* Orange */
    animation-duration: 2s;
}
.balloon:nth-child(8)::after {
    border-bottom: 12px solid rgba(255, 165, 0, 0.5);
}

.balloon:nth-child(9) {
    left: 80%;
    background-color: rgba(128, 0, 128, 0.5); /* Purple */
    animation-duration: 3s;
}
.balloon:nth-child(9)::after {
    border-bottom: 12px solid rgba(128, 0, 128, 0.5);
}

.balloon:nth-child(10) {
    left: 90%;
    background-color: rgba(255, 255, 0, 0.5); /* Yellow */
    animation-duration: 4s;
}
.balloon:nth-child(10)::after {
    border-bottom: 12px solid rgba(255, 255, 0, 0.5);
}

.balloon:nth-child(11) {
    left: 100%;
    background-color: rgba(0, 128, 0, 0.5); /* Green */
    animation-duration: 3s;
}
.balloon:nth-child(11)::after {
    border-bottom: 12px solid rgba(0, 128, 0, 0.5);
}


/* Add more balloons as needed */

@keyframes move-up {
    0% {
        top: 100%;
    }
    100% {
        top: -30%;
    }
}

/* Balloons */

/* Halloween Spiders */
[class*="spider"] {
    position: absolute;
    height: 40px;
    width: 50px;
    border-radius: 50%;
    margin: 40px 0 0 0;
    background: #110D04;
}

[class*="spider"] * {
    position: absolute;
    content: "";
}

[class*="spider"]:before {
    width: 1px;
    background: #AAAAAA;
    left: 50%;
    top: -320px;
    height: 320px;
}

.eye {
    top: 16px;
    height: 12px;
    width: 10px;
    background: #FF0000;
    border-radius: 50%;
}

.eye:after {
    top: 6px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: black;
}

.eye.left {
    left: 14px;
}

.eye.left:after {
    right: 3px;
}

.eye.right {
    right: 14px;
}

.eye.right:after {
    left: 3px;
}

.leg {
    top: 6px;
    height: 12px;
    width: 14px;
    border-top: 2px solid #110D04;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    z-index: -1;
}

.leg.left {
    left: -8px;
    transform-origin: top right;
    transform: rotate(36deg) skewX(-20deg);
    border-left: 2px solid #110D04;
    border-radius: 60% 0 0 0;
    animation: legs-wriggle-left 1s 0s infinite;
}

.leg.right {
    right: -8px;
    transform-origin: top left;
    transform: rotate(-36deg) skewX(20deg);
    border-right: 2px solid #110D04;
    border-radius: 0 60% 0 0;
    animation: legs-wriggle-right 1s 0.2s infinite;
}

.leg:nth-of-type(2) {
    top: 14px;
    left: -11px;
    animation: legs-wriggle-left 1s 0.8s infinite;
}

.leg:nth-of-type(3) {
    top: 22px;
    left: -12px;
    animation: legs-wriggle-left 1s 0.2s infinite;
}

.leg:nth-of-type(4) {
    top: 31px;
    left: -10px;
    animation: legs-wriggle-left 1s 0.4s infinite;
}

.leg:nth-of-type(6) {
    top: 14px;
    right: -11px;
    animation: legs-wriggle-right 1s 0.4s infinite;
}

.leg:nth-of-type(7) {
    top: 22px;
    right: -12px;
    animation: legs-wriggle-right 1s 0.7s infinite;
}

.leg:nth-of-type(8) {
    top: 31px;
    right: -10px;
    animation: legs-wriggle-right 1s 0.3s infinite;
}

.spider_0 {
    left: 5%;
    animation: spider-move-0 5s infinite;
    transform: translateY(-90px);
}

.spider_1 {
    left: 20%;
    animation: spider-move-1 5s infinite;
    transform: translateY(-90px);
}

.spider_2 {
    left: 35%;
    animation: spider-move-2 5s infinite;
    transform: translateY(-90px);
}

.spider_3 {
    right: 35%;
    margin-top: 160px;
    animation: spider-move-3 5s infinite;
    transform: translateY(-90px);
}

.spider_4 {
    right: 20%;
    margin-top: 50px;
    animation: spider-move-4 5s infinite;
    transform: translateY(-90px);
}

.spider_5 {
    right: 5%;
    margin-top: 210px;
    animation: spider-move-5 5s infinite;
    transform: translateY(-90px);
}

.titleFlicker {
    left: 6%;
    bottom: 12%;
    font-family: 'Eater', cursive;
    font-size: 8.5vw;
    color: #111111;
    animation: flicker 4s 0s infinite;
}

.web-right {
    position: absolute;
    height: 200px;
    width: auto;
    right: -10px;
    top: -10px;
    z-index: -1;
    opacity: 0.2;
}

.web-left {
    position: absolute;
    left: -10px;
    top: -10px;
    transform: rotate(-90deg);
    z-index: -1;
    opacity: 0.2;
}

@keyframes flicker {
    0%, 6%, 12% {
        text-shadow: none;
        color: #111111;
    }
    3%, 9% {
        text-shadow: 0 0 8px rgba(250, 103, 1, 0.6);
        color: #fa6701;
    }
    60% {
        text-shadow: 0 0 8px rgba(250, 103, 1, 0.6),
                     0 0 16px rgba(250, 103, 1, 0.4), 
                     0 0 20px rgba(255, 0, 84, 0.2), 
                     0 0 22px rgba(255, 0, 84, 0.1);
        color: #fa6701;
    }
    100% {
        text-shadow: 0 0 8px rgba(250, 103, 1, 0.6),
                     0 0 16px rgba(250, 103, 1, 0.4), 
                     0 0 20px rgba(255, 0, 84, 0.2), 
                     0 0 22px rgba(255, 0, 84, 0.1);
        color: #fa6701;
    }
}

@keyframes legs-wriggle-left {
    0%, 100% {
        transform: rotate(36deg) skewX(-20deg);
    }
    25%, 75% {
        transform: rotate(15deg) skewX(-20deg);
    }
    50% {
        transform: rotate(45deg) skewX(-20deg);
    }
}

@keyframes legs-wriggle-right {
    0%, 100% {
        transform: rotate(-36deg) skewX(20deg);
    }
    25%, 75% {
        transform: rotate(-15deg) skewX(20deg);
    }
    50% {
        transform: rotate(-45deg) skewX(20deg);
    }
}

/* Keyframe animations for spiders based on random heights and movements */
@keyframes spider-move-0 {
    0%, 100% {
        margin-top: 40px; /* Example height */
    }
    30% {
        margin-top: calc(40px + 30px); /* Example movement */
    }
}
@keyframes spider-move-1 {
    0%, 100% {
        margin-top: 45px; /* Example height */
    }
    20% {
        margin-top: calc(45px + 20px); /* Example movement */
    }
}
@keyframes spider-move-2 {
    0%, 100% {
        margin-top: 55px; /* Example height */
    }
    35% {
        margin-top: calc(55px + 25px); /* Example movement */
    }
}
@keyframes spider-move-3 {
    0%, 100% {
        margin-top: 60px; /* Example height */
    }
    25% {
        margin-top: calc(60px + 40px); /* Example movement */
    }
}
@keyframes spider-move-4 {
    0%, 100% {
        margin-top: 70px; /* Example height */
    }
    15% {
        margin-top: calc(70px + 30px); /* Example movement */
    }
}
@keyframes spider-move-5 {
    0%, 100% {
        margin-top: 80px; /* Example height */
    }
    10% {
        margin-top: calc(80px + 20px); /* Example movement */
    }
}
/* Halloween Spiders */