@media (max-width: 500px) {
    * {
        font-family: Roboto;
        text-align: center;
    }

    body {
        padding-top: 7%;
        background-image: url("./images/mobileBackground.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

        background-position: center center;
    }

    #headerIcon {
        overflow: hidden;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        text-align: left;
    }

    .welcomeMessage {
        color: red;
        text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
    }

    #welcomeMessageID:hover {
        cursor: pointer;
    }

    #selectionButtonsDiv {

    }

    .selectionButtons {
        /* color: black;
        font-size: 22px;
        background-color: rgb(170, 19, 137);
        width: 150px;
        height: 100px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 20%;
        cursor: pointer; */
    }

    .selectionButtons:hover {
        background-color: rgb(180, 100, 163);
    }

    #onePerk {
        display: none;
        /* background-color: rgb(0, 0, 0); */
    }

    #threePerks {
        display: none;
        /* background-color: rgb(0, 0, 0); */
    }

    #killerPower {
        display: none;
        /* background-color: rgb(0, 0, 0); */
    }

    #fullKiller {
        display: none;
    }

    #lore {
        display: none;
    }

    #iconEditor {
        display: none;
    }

    #faq {
        display: none;
        width: 80%;
        margin: auto;
        /* background-image: url("./images/fog-background.png"); */
    }

    #questionsAndAnswers {
        /* background-color: rgba(0, 0, 0, 0.7);
        padding: 1%; */
    }

    /* collapsible faq start */
    .collapsibleQuestion {
        background-color: #000000;
        color: #ffffff;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 22px;
        font-weight: bold;
    }
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .collapsibleQuestion:hover {
        background-color: #2b2b2b;
    }
    /* Style the collapsible content. Note: hidden by default */
    .answer {
        padding: 0 18px;
        background-color: rgb(78, 78, 78);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        font-size: 18px;
        color: white;
    }
    .collapsibleQuestion:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: white;
        float: right;
        margin-left: 5px;
    }
    .active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
    }
    /* collapsible faq end */

    /* .question {
        color: rgb(19, 104, 214);
        text-align: left;
        font-weight: bold;
        font-size: 20px;
    }
    
    .answer {
        color: white;
        text-align: left; 
    } */

    #homeStuff {
        display: none;
    }

    #homeButton {
        /* text-align: center;
        color: black;
        font-size: 22px;
        background-color: rgb(170, 19, 137);
        width: 150px;
        height: 100px;
        border-radius: 20%; */
    }

    #homeButton:hover {
        background-color: rgb(180, 100, 163);
    }

    .perkTitle {
        background-image: url("./images/orangeperkbackgroundteachable.png");
        height:80px;
        width:95vw;
        font-size: 28px;
        color: white;
        resize: none;
        text-align: left;
        text-transform: uppercase;
        overflow: hidden;
        text-indent: 5px;
        white-space: nowrap;
    }

    .perkDescription {
        background-color: rgb(48, 48, 48);
        min-height: 400px;
        height: auto; /* Allow height to adjust based on content */
        width: 95vw;
        font-size: 18px;
        color: white;
        resize: none;
        text-align: left;
        overflow: hidden;
    }

    .killerTitle {
        background-image: url("./images/killerPowerBackgroundTeachable.png");
        height:80px;
        width: 95vw;
        font-size: 30px;
        color: white;
        resize: none;
        text-align: left;
        text-transform: uppercase;
        overflow: hidden;
        text-indent: 5px;
        white-space: nowrap;
    }

    .loreTitle {
        background-image: url("./images/loreBackground.png");
        height:80px;
        width: 95vw;
        font-size: 30px;
        color: white;
        resize: none;
        text-align: left;
        text-transform: uppercase;
        overflow: hidden;
        text-indent: 5px;
        white-space: nowrap;
    }

    .loreDescription {
        background-color: rgb(48, 48, 48);
        min-height: 650px;
        height: auto;
        width: 95vw;
        font-size: 18px;
        color: white;
        resize: none;
        text-align: left;
        overflow: hidden;
    }

    .perkDescription .span-0 { /* Added to reset styles correctly */
        font-weight: normal;   /* Reset b */
        text-decoration: none; /* Reset u */
        font-style: normal;    /* Reset i */
        color: white;    /* Reset color */
    }

    .perkDescription .span-q {
        font-style: italic;
        color: rgb(181, 182, 122);
        font-size: 15px;
    }

    .perkDescription .span-b {
        font-weight: bolder;
    }

    .perkDescription .span-i {
        font-style: italic;
    }

    .perkDescription .span-y {
        color: yellow;
    }

    .perkDescription .span-o {
        color: orange;
    }

    .perkDescription .span-r {
        color: red;
    }

    .perkDescription .span-g {
        color: #159b1e;
    }

    .perkDescription .span-p {
        color: #ac3ee3;
    }

    #editTextButtonsDiv {
        display: none;
    }

    .editTextButtons {
        text-align: center;
        color: black;
        font-size: 22px;
        width: 150px;
        height: 100px;
        border-radius: 20%;
        cursor: pointer;
    }

    .editTextButtons:hover {
        color: blue;
        font-size: 16px;
        font-weight: bolder;
    }

    .under {
        position: absolute;
        z-index: 0;
      }

    .over {
        position: absolute;
        z-index: 1;
    }

    /* sidebar start */
    .sidebar {
        height: 100%;
        left: -250px;
        width: 250px;
        top: 0;
        position: fixed;
        background-color: #111;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidebar a {

        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidebar a:hover {
        color: #f1f1f1;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .openbtn {
        cursor: pointer;
        /* background-color: rgb(46,52,59); */
        background-color: #111;
        color: white;
        border: none;
    }

    .openbtn:hover {
        background-color: #444;
    }
    /*sidebar end*/

    /*update notes start*/
    .popupContainer {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .updateNotes {
        background-color: #000000;
        margin: auto;
        margin-top: 5%;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        color: white;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover, .close:focus {
        color: rgb(255, 0, 0);
        text-decoration: none;
        cursor: pointer;
    }
    /*update notes end*/

    /* canvas tutorial start */
    .iconPopupContainer {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .iconPopup {
        background-color: #000000;
        margin: auto;
        margin-top: 5%;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        height: auto;
        color: white;
    }

    #iconPopupClick:hover {
        cursor: pointer;
    }
    /* canvas tutorial end */

    /* canvas for icon editor */

    #iconCanvas {
        background-color: white;
        background-size: 500px;
    }

    .wrapper {
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center elements horizontally */
    }
    
    #leftCanvas {
        display: flex; /* Use flex to center the canvas */
        justify-content: center; /* Center the canvas horizontally */
        margin-bottom: 20px; /* Space between canvases */
        width: 100%; /* Set width to 100% to use the full width */
    }
    
    #iconCanvas {
        background-color: white;
        width: 500px; /* Fixed width for the canvas */
        height: 500px; /* Fixed height for the canvas */
    }
    
    #rightCanvas {
        width: 325px;
        height: 500px;
        border: 3px rgb(170, 100, 19) solid;
        overflow: auto;
        background-color: black;
        border-radius: 2%;
        /* margin-left: 120px; */
        /* margin-right: 25px; */
    }
    
    .iconDisplayedInDiv {
        width: 100px;
        height: 100px;
    }
    
    .sameLineElement {
        display: block; /* Keep them as block for stacking */
        width: 100%; /* Full width for the sameLineElement */
    }
    
    .undoRedo {
        color: black;
        font-size: 15px;
        background-color: rgb(170, 100, 19);
        width: 160px;
        height: 80px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 20%;
        cursor: pointer;
    }
    
    .undoRedo:hover {
        background-color: rgb(170, 155, 19);
    }

    .deleteIconButton {
        color: black;
        font-size: 15px;
        background-color: rgb(170, 100, 19);
        width: 160px;
        height: 80px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 20%;
        cursor: pointer;
    }

    .deleteIconButton:hover {
        background-color: rgb(170, 155, 19);
    }

    #toggleDrawing {
        color: black;
        font-size: 15px;
        background-color: rgb(170, 100, 19);
        width: 160px;
        height: 80px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 20%;
        cursor: pointer;
    }

    .drawingLabels {

    }

    #drawingButtons {
        background-color: rgb(255, 179, 91);
        /* margin-left: 40%; */
        margin-right: 40%;
        padding: 5px;
        width: 95vw;
    }

    .sliderButtons {
        background-color: rgb(170, 100, 19);
    }

    .filterButtonLabel {
        color: white;
    }

    .changeCanvasButtons {
        color: black;
        font-size: 15px;
        background-color: rgb(170, 100, 19);
        width: 160px;
        height: 100px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 20%;
        cursor: pointer;
    }

    .changeCanvasButtons:hover {
        background-color: rgb(170, 155, 19);
    }

    /* canvas for icon editor */

    /* Dropdown */

    .backgroundDropdown {
        color: black;
        background-color: rgb(170, 100, 19);
        font-size: 20px;
        width: 200px;
        height: 40px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 20%;
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }
    
    .backgroundDropdown:hover {
        background-color: rgb(170, 155, 19);
    }

    /* Dropdown */

    /* Profile Stuff */

    #profile {
        display: none;
        width: 99vw;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .buttonGroupProfile {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .buttonGroupProfile button {
        background: none;
        border: none;
        cursor: pointer;
        transition: transform 0.2s ease-in-out; /* Smooth transition */
    }
    .buttonGroupProfile button img {
        width: 20px;
        height: 20px;
    }
    .buttonGroupProfile button:hover {
        transform: scale(1.2); /* Scale up to 120% on hover */
    }

    /* Profile Stuff */
    
    .createAddon {
        background-image: url("./images/blankTemplates/Addons/backgroundCommonAddonText.png");
        height:80px;
        width: 95vw;
        font-size: 28px;
        color: white;
        resize: none;
        text-align: left;
        text-transform: uppercase;
        overflow: hidden;
        text-indent: 5px;
        white-space: nowrap;
    }

    /* TODO change backgorund image */
    .createOffering {
        background-image: url("./images/blankTemplates/Addons/backgroundCommonAddonText.png");
        height:80px;
        width: 95vw;
        font-size: 28px;
        color: white;
        resize: none;
        text-align: left;
        text-transform: uppercase;
        overflow: hidden;
        text-indent: 5px;
        white-space: nowrap;
    }

    /* spiders */

    #hangingSpiders {
        margin-top: 50px;
    }

    /* spiders */

    /* Home Button Split BR */

    .selectionButtonsBR {
        display: none;
    }
    .selectionButtonsNoBR {
        display: inline-block;
    }

    /* Home Button Split BR */
}